body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
    padding-top: 10rem;
}

img{
    width: 80px;
}

.container{
    width: 50%;
    height: 50vh;
    /* height: 600px; */
    border: black 5px solid;
    background-color: green;
    margin: auto;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

button {
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
}